html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

/* full-sized  container that fills up the page */
.first {
    height: 100%;
    width: 100%;

    /* example padding, font-size, background, etc */
    padding: 10px;
    font-size: 20px;
    background-color: #82e0ec;
}

.second {
    height: 100%;
    width: 100%;

    /* example padding, font-size, background, etc */
    padding: 10px;
    font-size: 20px;
    background-color: #fffcf5;
}

img {
    border-radius: 50%;
    border: solid #3f3f3f 2px;
}

#headshot {
    height: 225px;
    width: 225px;
    margin-left: 12%;
}

#rpi {
    height: 185px;
    width: 185px;
    margin-left: 20%;
}

#front-end {
    height: 200px;
    width: 200px;
    margin-left: 20%;
}

#profile {
    height: 175px;
    width: 175px;
    margin-left: 20%;
    margin-top: 30px;
}

.card {
    width: 350px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
p {
    color: #3f3f3f;
    font-family: 'Poppins', sans-serif;
}

/*palette
green - #6ffc03
black - #171717
light grey - #656664
dark grey - #3f3f3f
off white - #f8faf7
white - #fffcf5